*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 15.628rem;
    height: 100vh;
    border: 1px solid red;
    padding: 15px;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 15px;
    
}
.navbar-nav > .nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color:red;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    letter-spacing: 2px;
    width: 100%;
}
.logo::before{
    position: absolute;
    content: '';
    width: 104%;
    height: 1px;
    left: -2%;
    bottom: -15px;
    background-color: red;
}
.nav-link {
    width: 100%;
    border: 1px solid blue;
    border-radius: 7px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}
.link-text {
    font-size: 18px;
    letter-spacing: 1px;
}
.nav-link > svg {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    margin-right: 0.5em;
    border-radius: 10px;
}
